.content-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem!important;
}

.masthead {
  overflow: hidden !important;
  min-height: 20rem;
  position: relative;
  /*display: table;*/
  width: 100%;
  height: 98%;
  padding: 2vw;
  padding-top: 5rem;
  /*padding-bottom: 0;*/
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --main-color: #6eb2c8;
  --bg-color: #0e0e0e;
  --highlight-color: #ffc735;
  --accent1-color: red;
  --accent2-color: blue;
}

.masthead h1, .masthead .h1 {
  padding: 0rem .2rem;
  word-wrap: normal;
  color: var(--bs-light);
}

.service-icon {
  background-color: #fff;
  color: #1d809f;
  height: 6rem;
  width: 6rem;
  margin-bottom: 2.5rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}

.service-tab {
  margin-bottom: 2.5rem!important;
}

.menu-toggle {
  backdrop-filter: blur(5px);
  box-shadow: 0px 7px 20px var(--bs-dark);
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(14,14,14,0.15);
  border-radius: .75rem !important;
  font-size: 1.5rem;
  /*line-height: 50px;*/
  /*z-index: 999;*/
}

.caption-content {
  text-shadow: 0px 1px 5px rgb(33,37,41);
}

.content-section-heading h3, .content-section-heading .h3 {
  margin-bottom: 1rem !important;
  font-size: 1rem;
  text-transform: uppercase;
}

.meta-card-gradient {
  color: linear-gradient(to right, var(--bs-cyan) 0%, var(--bs-purple) 50%, var(--bs-pink) 100%);
  background: linear-gradient(to right, var(--bs-cyan) 0%, var(--bs-purple) 25%, var(--bs-pink) 50%, var(--bs-orange) 75%, var(--bs-green) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% 500%;
  transition: gradient 500ms ease-in-out;
  -webkit-text-size-adjust: 100%;
  animation: gradient 5s ease infinite;
}

